{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
        <h3>Accessories</h3>
    </div>
	<hr>
    <div class="row">
		{% for product in products %}
		{% if "accessories" in product.tags %}
		<div class="col-lg-3 col-md-4 col-md-6 col-xs-12 product-card">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				<h4 style="display: inline-block;"><strong>₹{{product.price}}</strong></h4> <br>
				{% if user.is_authenticated %}
				{% if product.id in favoriteitemsid %}
				<button data-product="{{product.id}}" data-action="remove-fav" class="btn btn-danger add-btn update-fav"><i class="fas fa-heart"></i></button>
				{% else %}
				<button data-product="{{product.id}}" data-action="add-fav" class="btn btn-outline-danger add-btn update-fav"  onclick="toastFav()"><i class="fas fa-heart"></i></button>
				<div id="snackbar-fav">Adding to favorite...</div>				
				{% endif %}
				{% endif %}
				{% if user.is_authenticated %}
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" onclick="toastCart()">Add to Cart</button>
				<div id="snackbar-cart">Adding to cart...</div>				{% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-secondary">Add to Cart</a>
				{% endif %}
								
				<a class="btn btn-outline-success" href="{% url 'product' product_id=product.id %}">View</a>

			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>

{% endblock content %}