{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
        <h3>Accessories</h3>
    </div>
	<hr>
    <div class="row">
		{% for product in products %}
		{% if "accessories" in product.tags %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				{% if user.is_authenticated %}
				{% if product.id in favoriteitemsid %}
				<button data-product="{{product.id}}" data-action="remove-fav" class="btn btn-danger add-btn update-fav"><i class="fas fa-heart"></i></button>
				{% else %}
				<button data-product="{{product.id}}" data-action="add-fav" class="btn btn-outline-danger add-btn update-fav"><i class="fas fa-heart"></i></button>
				{% endif %}
				{% endif %}
				{% if user.is_authenticated %}
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				{% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-secondary">Login to add to Cart</a>
				{% endif %}
								
				<a class="btn btn-outline-success" href="{% url 'product' product_id=product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>₹{{product.price}}</strong></h4>

			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>

{% endblock content %}