{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <img class="product-thumbnail" src="{{product.imageURL}}" style="height: 500px; width: 90%;">
    </div>
    <div class="col-lg-6 col-xs-12 product-details">
        <h1>{{product.name}}</h1>
        <hr>
        <br>
        <h3>Price: <strong>₹{{product.price}}</strong></h3>
        <br>
        <h5>{{product.description}}</h5>
        <br>
        {% if user.is_authenticated %}
        {% if product.id in favoriteitemsid %}
        <button data-product="{{product.id}}" data-action="remove-fav" class="btn btn-danger add-btn update-fav"><i class="fas fa-heart"></i></button>
        {% else %}
        <button data-product="{{product.id}}" data-action="add-fav" class="btn btn-outline-danger add-btn update-fav"  onclick="toastFav()"><i class="fas fa-heart"></i></button>
        <div id="snackbar-fav">Adding to favorite...</div>		      
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" onclick="toastCart()">Add to Cart</button>
        <div id="snackbar-cart">Adding to cart...</div>        
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Add to Cart</a>
        {% endif %}
        <div id="rating-card">
            <h3>Rating</h3>
            {% if avg_rating != 0 %}
            <h1 style="color: green;">{{avg_rating|floatformat:-1}} <i class="fas fa-star" style="color: gold"></i></h1>
            {% else %}
            <h5 style="color: red;">No reviews yet...</h5>
            {% endif %}
            <h4><i class="fas fa-users"></i> {{reviews|length}} ratings</h4>
        </div>
    </div>
</div>
<br>
{% if user.is_authenticated %}
<form id="review-form" method="POST" action="{% url 'product' product_id=product.id %}">
    {% csrf_token %}
    <h3>Add a review</h3>
    <br>
    <div class="row">
    <div class="form-group col-6">
      <label for="content"> <h5>Write your review here...</h5></label>
      <textarea class="form-control" id="content" rows="4" name="content"></textarea>
    </div>
    <div class="form-group col-6">
        <label for="stars"> <h5>Stars</h5></label>
        <input type="number" class="form-control" id="stars" name="stars" value="1" hidden ></input>
        <div class="rating rating2">
            <button type="button" title="Give 5 stars" onclick="setStarValue(5)">★</button>
            <button type="button" title="Give 4 stars" onclick="setStarValue(4)">★</button>
            <button type="button" title="Give 3 stars" onclick="setStarValue(3)">★</button>
            <button type="button" title="Give 2 stars" onclick="setStarValue(2)">★</button>
            <button type="button" title="Give 1 star" onclick="setStarValue(1)">★</button>
        </div>
        <button class="btn btn-success" type="submit" style="margin: 10px; border-radius: 10px;"><i class="fas fa-plus"></i> Add</button>
      </div>
    </div>
  </form>
  <br>
  {% endif %}
<div class="row">
    <h3>Reviews</h3>
</div>
<hr>
{% for review in reviews %}
<div class="review-box">
    <p>
        <h6><strong>Date: </strong>{{review.date_added|date:"Y-m-d"}}</h6> 
        <h6>
            {% if review.stars == 5 %}
            ⭐⭐⭐⭐⭐
            {% elif review.stars == 4 %}
            ⭐⭐⭐⭐
            {% elif review.stars == 3 %}
            ⭐⭐⭐
            {% elif review.stars == 2 %}
            ⭐⭐
            {% elif review.stars == 1 %}
            ⭐
            {% endif %}
        </h6>
    </p>
    <h6>{{review.content}} - <strong>{{review.user}}</strong></h6>
</div>
{% empty %}
<div class="review-box">
   <strong>No reviews yet...
</strong>
</div>
{% endfor %}

<br>
<div class="row">
    <h3>Similar Products</h3>
</div>
<hr>
<div class="row">
        {% for product in sim_products %}		
        <div class="col-lg-4 col-md-6 col-xs-12 product-card">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
                {% if user.is_authenticated %}
				{% if product.id in favoriteitemsid %}
				<button data-product="{{product.id}}" data-action="remove-fav" class="btn btn-danger add-btn update-fav"><i class="fas fa-heart"></i></button>
				{% else %}
                <button data-product="{{product.id}}" data-action="add-fav" class="btn btn-outline-danger add-btn update-fav"  onclick="toastFav()"><i class="fas fa-heart"></i></button>
				<div id="snackbar-fav">Adding to favorite...</div>				
                {% endif %}
				{% endif %}
				{% if user.is_authenticated %}
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" onclick="toastCart()">Add to Cart</button>
				<div id="snackbar-cart">Adding to cart...</div>				{% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-secondary">Add to Cart</a>
				{% endif %}
								
				<a class="btn btn-outline-success" href="{% url 'product' product_id=product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>₹{{product.price}}</strong></h4>

			</div>
		</div>
        {% empty %}
        <div><h4>No products found...</h4></div>
		{% endfor %}
	</div>

{% endblock content %}