{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
<h1>User Profile</h1>
</div>
<hr>
<div class="row">
    <div class="col-lg-6 col-xs-12" style="text-align: center;">
        <img src="{% static 'images/user.png' %}" style="height: 300px;">
    </div>
    <div class="col-lg-6 col-xs-12">
        <h3>Name: {{customer.name}}</h3>
        <h3>Email Address: {{customer.email}}</h3>
        <a href="{% url 'history' %}">
            Order History
        </a>
    </div>
    </div>

{% endblock content %}