body {
  background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}

.btn {
  transition: 0.4s;
  border-radius: 10px;
}
.update-fav {
  border-radius: 50%;
}
.btn:hover {
  transform: scale(1.03);
}
.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 300px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-dark {
  background-color: #00003f !important;
}

.navbar .navbar-nav .nav-link {
  position: relative;
  margin: 0 20px;
}

.navbar .navbar-nav .nav-link:hover {
  color: white;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  width: 0%;
  content: "";
  height: 1.5px;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

#logo {
  width: 200px;
}
#minizon-cart-icon {
  width: 40px;
  display: inline-block;
  margin-left: 15px;
}

#search {
  border-radius: 10px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#search-icon {
  color: #00003f;
  background-color: #ffc107;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  transform: none;
}

#search-icon:hover {
  color: #ffc107;
  background-color: #00003f;
}
#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

footer .footer-top {
  padding: 60px;
  background: #00003f;
}

footer .footer-top .footer-contact h3 {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 10px;
}

footer .footer-top .footer-contact p,
footer .footer-top .footer-contact a {
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

footer .footer-top .footer-contact a:hover {
  text-decoration: none;
  color: #0d6efd;
}

footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffc107;
  position: relative;
  padding-bottom: 12px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #0d6efd;
  font-size: 16px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
}

footer .footer-top .footer-links ul a {
  color: whitesmoke;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #0d6efd;
}

footer .footer-top .social-links a {
  color: #008037;
  margin: 10px;
  transition: 0.5s;
}

footer .footer-bottom {
  padding: 30px;
  background-color: #ff914d;
  color: white;
  letter-spacing: 2px;
}

#logo-footer {
  width: 250px;
}
#minizon-cart-footer {
  width: 60px;
}

#snackbar-fav {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: hsl(354, 70%, 54%, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar-cart {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: hsl(134, 61%, 41%, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar-fav.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-cart.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.rating {
  width: 300px;
  font-size: 30px;
  overflow: hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating button,
.rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  background-color: #e8e8e8;
  border: none;
  outline: none;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating button:hover,
.rating button:hover ~ button,
.rating button:focus,
.rating button:focus ~ button {
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 button {
  float: none;
}

#review-form {
  background-color: #e8e8e8;
  padding: 30px;
  border-radius: 20px;
}

#rating-card {
  background-color: #e8e8e8;
  margin: 20px 0px;
  padding: 20px;
  width: 40%;
  text-align: center;
  border-radius: 30px;
}
.review-box {
  background-color: #ededed;
  margin-bottom: 10px;
  padding: 10px;
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.product-thumbnail {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.product-details {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.user-img {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.user-details {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.product-card {
  animation: 1s ease-out 0s 1 grow;
}
